.PostCard-container {
  padding: 10px 20px;
}


/* Profile */
.PostCard-container .PostCardStyle .Profile {
}
.PostCard-container .PostCardStyle .Profile p {
  font-size: 0.6rem;
}

.MoreFromUs .MoreFromUsCard .Profile p {
  font-size: 0.5rem;
  font-weight: bolder;
  color: gray !important;
}

/* medium screens */
@media only screen and (min-width: 540px and max-width: 700px) {
  .PostCard-container .PostCardStyle .Profile p {
    font-size: 0.5rem;
    font-weight: lighter;
    /* display: none; */
  }
}
