.PostCard-container {
  padding: 10px 20px;
}

.PostCard-container .PostCardStyle {
  /* padding: 30px 40px; */
}

/* Profile */
.PostCard-container .PostCardStyle .Profile {
}
.PostCard-container .PostCardStyle .Profile p {
  font-size: 0.6rem;
}

.MoreFromUs .MoreFromUsCard .Profile p {
  font-size: 0.5rem;
  font-weight: bolder;
  color: gray !important;
}

/* medium screens */
@media only screen and (max-width: "540px") {
  .PostCard-container .PostCardStyle .Profile p {
    font-size: 0.1rem;
    display: none;
  }
}

@media only  screen and (min-width: " 400px") {
  body {
    background-color: green !important  ;
  }
}
